%container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }
}

%title {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

%text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
